@charset "UTF-8"; 

	h1{
		text-align: center;
		color:white;
		font-family: 'Raleway', sans-serif;
	}

	h2{
		color: #0005FF;
		text-align: center;
		font-size: 60px;
		border: thick solid white;
		font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	}
    h5{
	    color:white;
	    font-size: 50px;
	    text-align: center;
	    border-color: black;
    }

    h6{ 
	text-align: center;
	color:black;
	font-size: 30px;
	
    }

    .banners{
    background-color: #0005FF;
   
    }

	.banners2{
		background-color: #0005FF;
	}

p2 { 
	color: White;
	text-align: center;

   }

p {
	text-align: center;

}

